<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}">

<th:block layout:fragment="content">
    <div class="card-content">
        <form class="form-horizontal form-view">
            <div class="form-group">
                <label for="inp-type-1" class="col-sm-2 control-label">제목</label>
                <div class="col-sm-10"><p id="title" class="form-control"></p></div>
            </div>

            <div class="form-group">
                <label for="inp-type-2" class="col-sm-2 control-label">이름</label>
                <div class="col-sm-10"><p id="writer" class="form-control"></p></div>
            </div>

            <div class="form-group">
                <label for="inp-type-5" class="col-sm-2 control-label">내용</label>
                <div class="col-sm-10"><p id="content" class="form-control"></p></div>
            </div>

            <div class="form-group">
                <label for="inp-type-5" class="col-sm-2 control-label">등록일</label>
                <div class="col-sm-10"><p id="createdDate" class="form-control"></p></div>
            </div>

            <div class="form-group">
                <label for="inp-type-5" class="col-sm-2 control-label">조회 수</label>
                <div class="col-sm-10"><p id="hits" class="form-control"></p></div>
            </div>
        </form>

        <div class="btn_wrap text-center">
            <a href="javascript: void(0);" onclick="goList();" class="btn btn-default waves-effect waves-light">뒤로가기</a>
            <a href="javascript: void(0);" onclick="goWrite();"
               class="btn btn-primary waves-effect waves-light">수정하기</a>
            <button type="button" onclick="deleteBoard();" class="btn btn-danger waves-effect waves-light">삭제하기</button>
        </div>

        <!--/* 댓글 렌더링 영역 */-->
        <div class="cm_list">

        </div>

        <!--/* 댓글 작성 */-->
        <div class="cm_write">
            <fieldset>
                <legend class="skipinfo">댓글 입력</legend>
                <div class="cm_input">
                    <p>
                        <input type="text" id="cm_writer" placeholder="닉네임을 입력하세요." />
                        <textarea id="cm_content" name="cm_content" onkeyup="countingLength(this);" cols="90" rows="4" placeholder="댓글을 입력해 주세요."></textarea></p>
                    <span><button type="button" class="btns" onclick="saveComment();">등 록</button> <i id="counter">0/300자</i></span>
                </div>
            </fieldset>
        </div>

    </div>
    <!-- /.card-content -->

    <!-- 댓글 수정(모달팝업) -->
    <div id="commentUpdatePopup" class="popLayer">
        <h3>댓글 수정</h3>
        <div class="pop_container">
            <table class="tb tb_row tl">
                <colgroup>
                    <col style="width:30%;" /><col style="width:70%;" />
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row">작성자<span class="es">필수 입력</span></th>
                    <td><input type="text" id="modalWriter" name="modalWriter" placeholder="작성자를 입력해 주세요." /></td>
                </tr>
                <tr>
                    <th scope="row">내용<span class="es">필수 입력</span></th>
                    <td><textarea id="modalContent" name="modalContent" cols="90" rows="10" placeholder="수정할 내용을 입력해 주세요."></textarea></td>
                </tr>
                </tbody>
            </table>
            <p class="btn_set">
                <button type="button" id="commentUpdateBtn" class="btns btn_st2">수정</button>
                <button type="button" class="btns btn_bdr2" onclick="closeCommentUpdatePopup();">취소</button>
            </p>
        </div>
        <button type="button" class="btn_close" onclick="closeCommentUpdatePopup();"><span><i class="far fa-times-circle"></i></span></button>
    </div>

</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
/*<![CDATA[*/

    	window.onload = () => {
     		findBoard();
     		findAllComment();
  	}

      /**
       * 게시글 조회
       */
      function findBoard() {

          const id = /*[[ ${id} ]]*/;

          fetch(`/api/boards/${id}`).then(response => {
          	if (!response.ok) {
      			throw new Error('Request failed...');
      	    }
          	return response.json();

         	}).then(json => {
         		console.table(json);
          	json.createdDate = moment(json.createdDate).format('YYYY-MM-DD HH:mm:ss');

          	Object.keys(json).forEach(key => {
           		const elem = document.getElementById(key);
           		if (elem) {
            			elem.innerText = json[key];
           		}
          	});

         	}).catch(error => {
          	alert('게시글 정보를 찾을 수 없습니다.');
          	goList();
         	});
      }

      /**
       * 뒤로가기
       */
      function goList() {
      	location.href = '/board/list'+location.search;
      }

      /**
       * 수정하기
       */
      function goWrite() {
      	location.href = '/board/write' + location.search + `&id=[[ ${id} ]]`;
      }

      /**
       * 삭제하기
       */
      function deleteBoard() {

      	const id = /*[[ ${id} ]]*/;

          if ( !confirm(`${id}번 게시글을 삭제할까요?`) ) {
          	return false;
          }

          fetch(`/api/boards/${id}`, {
          	method: 'DELETE',
            	headers: { 'Content-Type': 'application/json' },

          }).then(response => {
          	if (!response.ok) {
             		throw new Error('Request failed...');
            	}

            	alert('삭제되었습니다.');
            	goList();

          }).catch(error => {
          	alert('오류가 발생하였습니다.');
          });
  	}

    <!-- 여기서부터 댓글 처리 -->
    // 댓글 글자수 카운팅
    function countingLength(cmContent) {
        if (cmContent.value.length > 300) {
            alert('댓글을 300자 이하로 입력해 주세요.');
            cmContent.value = cmContent.value.substring(0, 300);
            cmContent.focus();
        }
        document.getElementById('counter').innerText = cmContent.value.length + '/300자';
    }

    // 댓글 저장
    function saveComment(){

        const cmContent = document.getElementById('cm_content');
        const cmWriter = document.getElementById('cm_writer');

        const postId = [[ ${id} ]];

        const params = {
            postId : postId,
            content : cmContent.value,
            writer : cmWriter.value
        }

        $.ajax({
            url : `/posts/${postId}/comments`,
            type : 'post',
            contentType:'application/json; charset=utf-8',
            dataType : 'json',
            data : JSON.stringify(params),
            async : false,
            success : function(response) {
                alert('댓글 저장 완료');
                cmContent.value='';
                cmWriter.value='';
                document.getElementById('counter').innerText = '0/300자';

                findAllComment();

            },
            error : function(request, status, error) {
                console.log(error)
            }
        })
    }

    <!-- 댓글 조회 -->
    function findAllComment(){
        const postId = [[ ${id} ]];

        $.ajax({
        url : `/posts/${postId}/comments`,
        type : 'get',
        dateType : 'json',
        async : false,
        success : function(response){
            if(!response.length){
            document.querySelector('.cm_list').innerHTML=
            '<div class="cm_none"><p>등록된 댓글이 없습니다.</p></div>'
                return false;
            }

            //댓글이 있는 경우
            let commentHtml ='';

            response.forEach(val => {
            console.log(val.createdDate);

            commentHtml += `
            <div>
                <span class="writer_img"><img src="/images/default_profile.png" width="30" height="30" alt="기본 프로필 이미지"/></span>
                <p class="writer">
                   <em>${val.writer}</em>
                   <span class="date">${dayjs(val.createdDate).format('YYYY-MM-DD HH:mm')}</span>
                </p>
                <div class="cont">
                    <div class="txt_con">${val.content}</div>
                </div>
                <p class="func_btns">
                     <button type="button" onclick="openCommentUpdatePopup(${val.id});" class="btns">
                        <span class="icons icon_modify">수정</span>
                     </button>
                     <button type="button" class="btns">
                        <span class="icons icon_del">삭제</span>
                     </button>
                </p>
            </div>`;

            })

            document.querySelector('.cm_list').innerHTML = commentHtml;

        },
        error : function (request,status,error){
            console.log(error)
        }
        });
    }

    <!-- 댓글수정 모달팝업 열기 (+ 기존 값 가져와 인풋창에 넣기 -->

    function openCommentUpdatePopup(comm_id){

        const postId = [[ ${id} ]];

        $.ajax({
            url : `/posts/${postId}/comments/${comm_id}`,
            type : 'get',
            dataType : 'json',
            async : false,
            success : function(response){
                document.getElementById('modalWriter').value = response.writer;
                document.getElementById('modalContent').value = response.content;
                document.getElementById('commentUpdateBtn').setAttribute('onclick',`updateComment(${comm_id})`);
                layerPop('commentUpdatePopup');


            },
            error : function(request, status, error){
                console.log(error)
            }
        });
    }

    <!-- 댓글 수정 -->
    function updateComment(comm_id){

        const writer = document

    }




    <!-- 댓글수정 모달팝업 닫기 (엑스 또는 취소) -->
    function closeCommentUpdatePopup(){
       document.querySelectorAll('#modalContent,#modalWriter').forEach(element => element.value='');
       document.getElementById('commentUpdateBtn').removeAttribute('onclick');
       layerPopClose('commentUpdatePopup');

    }



  /*]]>*/

    </script>
</th:block>

</html>